html {
  scroll-behavior: smooth;
  background: #242423;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

li {
  font-size: 20px;
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 7.5px;
}

li:hover {
  background-color: #333533;
}


ul:hover {
  box-shadow: 0 3px 3px 0 #F5CB5C, 3px 3px 3px 0px #F5CB5C;
}

a {
  color: #E8EDDF;
}

.header {
  text-align: center;
  vertical-align: middle;
  min-height: 100px;
  background-color: #242423;
  border-bottom: 1px solid #CFDBD5;
  background-size: cover;

}

.title {
  padding-top: 15px;
  font-size: 50px;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 25px;
}

.holder {
  background-color: #242423;
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.subitem {
  color: #CFDBD5;
  font-size: 13px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.itemtitle {
  font-size: 33px;
  text-align: center;
}

.share {
  background-image: url("https://media.giphy.com/media/dAWZiSMbMvObDWP3aA/source.gif");
  background-size: cover;
}
